<h1>Description of this item</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  
  <tr>
    <td><%= @item.name %></td>
    <td><%= @item.price %></td>
    <td><%= @item.description %></td>
   </tr>


  <%= link_to 'Back',  category_path(@category) %>
</table>