<h1>Description of this item</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  
  <%= render 'item' %>


  <%= link_to 'Back',  category_path(@category) %>
</table>