<h2>Listing categories</h2>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category) %></td>
    <!--   <td><%#= link_to 'Show', article_path(article) %></td> -->
    </tr>
  <% end %>
</table>
