<h1>Listing articles for this category</h1>

<table>
  <tr>
    <th><%=  @category.name %></th>
  </tr>

  <% @category.items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= link_to 'Show', category_item_path(item) %></td>
    </tr>
  <% end %>

  <%= link_to 'New Article', new_category_item_path(@category) %>
</table>
