<h1>Listing articles for this category</h1>

<table>
  <tr>
    <th><%=  @category.name %></th>
  </tr>

  <% @category.items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <!--   <td><%#= link_to 'Show', article_path(article) %></td> -->
    </tr>
  <% end %>
</table>
